

.force {
  height: 50px;
  width: 600px;
  position: relative;
  margin: 0 Auto;
}

#deathStar {
	height: 50px;
	width: 50px;
	position: relative;
	left: 20px;
	top: 20px;
}

body {
	font-family: 'Sarpanch', sans-serif;
	background-image: url(../img/space-background.jpg);
	color: yellow;
}

p {
	font-size: 20px;
	text-align: center
}

h1 {
	font-size: 40px;
	text-align: center
}